 # ----

AWS_KEY = ''
AWS_SECRET = ''

# AI Provider: vllm или deepseek
AI_PROVIDER = 'gemini'

# API Keys
OPENAI_API_KEY = 'sk-proj...'
DEEPSEEK_API_KEY = 'sk-...'
QWEN_API_KEY = 'sk-...'
GEMINI_API_KEY = '...'

OPENAI_MODEL_NAME = 'gpt-4o-mini'
